# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 59e99c1afa66804cbc1606dc8fef16462d9db7b063f5addc2f494de7622f02e258ed96cd19ab4c9ea3aabf8188b5ea6a80356fa23d257674f61e697a01f832d3

test:
  secret_key_base: 90336f4e2a86ac038e2e03b69323c3a2dc3e52425bc0b76172f1d9d96d77577f25a80c6850d4122097ca3f1b7f799f344178bb069c1af0eb6582d6d9802319d3

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
